/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.bG		{ background: #273032; }
.bGB 	{ background: #9EBEC7; }
.bW 	{ background: #FFFFFF; }
.bGr 	{ background: #00A217; }
.bCB 	{ background: #DCEBEF; }



.title{
	font-size: 		100px;
	color:			#273032;
	border:			solid 3px #00A217;
	text-align:		center;
	margin-top:		70px;
	margin-bottom:	70px;
	margin-right:	200px;
	margin-left:	130px;
}

.text{
	margin-left:	300px;
	font-size: 		15px;
	color: 			#273032;
}
	
.description-title{
	font-size: 		25px;
}

.topic{ 
	font-size: 		50px;
	color: 			#00A217;
}

.back-image{
	background-image: url(polygon-back.png);
}

.subtitle{
	font-size:		30px;
	background-color:#9EBEC7;
	margin-left:	20px;
}

.content{
	font-size:		20px;
	line-hight:		10px;
	color: 			#273032;
	margin-left:	50px;
}
.list{
	font-size:		30px;

}

.sticky{
	position: 		sticky;
	top:			0;
	}
	
.box{
	border:			solid 3px #00A217;
}

li{
	border-bottom: solid 1px #000000
}